{% load static %}

<!--=============================================
	=            Header without topbar         =
	=============================================-->

	<header class="header header-without-topbar header-sticky">

		<!--=======  header bottom  =======-->

		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">


				<!--=======  header bottom container  =======-->

				<div class="header-bottom-container">

					<!--=======  logo with off canvas  =======-->

					<div class="logo-with-offcanvas d-flex">



						<!--=======  logo   =======-->

						<div class="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'assets/images/rooted_logo.png' %}" class="img-fluid w-25" alt=""><span><h2>Rooted</h2></span>
							</a>
						</div>

						<!--=======  End of logo   =======-->
					</div>

					<!--=======  End of logo with off canvas  =======-->

					<!--=======  header bottom navigation  =======-->

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has"><a href="{% url 'home' %}">Home</a></li>
									<li class="menu-item-has"><a href="{% url 'store' %}">Store</a></li>
									
									<li class="menu-item-has"><a href="{% url 'aboutme' %}">About !</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<!--=======  End of header bottom navigation  =======-->

					<!--=======  headeer right container  =======-->

					<div class="header-right-container">

						<!--=======  header right icons  =======-->

						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<!--=======  single-icon-search  =======-->
							
							<!--=======  End of single-icon-coupons  =======-->
							{% if 'cart' in request.path %}
							
							<div class="single-icon coupons  ">
								
								<div class="header-bottom-navigation">
									<div class="site-main-nav d-none d-lg-block">
										<nav class="site-nav center-menu">
											<ul>
												<li class="menu-item-has-children "><a href="javascript:void(0)" id="offcanvas-cart-icon"><i class="far fa-bell"></i><span class="count" id="cart-list">!</span></a>
													<ul class="sub-menu single-column-menu single-column-has-children">
														<li><a><i class="fa-solid fa-hand-holding-inr"></i><b>Referral Coupons</b></a>
															<ul class="multilevel-submenu">
																<li><a>Copy the coupon code</a></li>
																<li><a>And try your luck</a></li>
																<li><a>You can use one code in an order</a></li>
																<li><a></a></li>
															</ul>
														</li>
														
														
														{% if request.user %}
														<li><a ></i><b> Available coupon-codes </b></a></li>
														{% for Coupon in coupons %}
														<li><a>{{Coupon.code}}</a></li>
														{% endfor %}
														{% else %}
														<li><a>Pleas login/register</a></li>
														<li><a>Only for registered users</a></li>
														{% endif %}
													</ul>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
								
							
							{% endif %}
							<!--=======  single-icon-coupons  =======-->


							{% if 'cart' not in request.path %}
							<div class="search-widget">
								<form action="{% url 'search' %}" method="GET">
									<input type="search" name="keyword" placeholder="Search ...">
									<button type="submit"><i class="ion-android-search"></i></button>
								</form>
							</div>
							{% endif %}

							<!--=======  End of single-icon-search  =======-->
							
							<!--=======  single-icon-user  =======-->

							<div class="single-icon user-login">
								<div class="header-bottom-navigation">
									<div class="site-main-nav d-none d-lg-block">
										<nav class="site-nav center-menu">
											<ul>
												<li class="menu-item-has-children "><a href="javascript:void(0)"><i class="ion-android-person"></i></a>
													<ul class="sub-menu single-column-menu single-column-has-children">
														{% if user.is_authenticated %}
														<li><a href="{% url 'dashboard' %}"><i class="far fa-user"></i>{{user.username | capfirst }}</a>
															<ul class="multilevel-submenu">
																<li><a href="{% url 'dashboard' %}">Dsahboard</a></li>
																
															</ul>
														</li>
														<li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
														{%else%}
														<li><a href="blog-standard-right-sidebar.html">Welcome</a>
															<ul class="multilevel-submenu">
																<li class="m-1">Unlock Exclusive Deals & </li>
																<li class="m-1"> Seamless Order Management!</li>	 
																<li class="m-1">Join Now or Log In </li>
																<li class="m-1"> Elevate Your Shopping Experience!</li>
																
															</ul>
														</li>
														<li><a href="{% url 'login' %}"><i class="fas fa-bolt"></i>Login/Register</a></li>

														{% endif %}

													</ul>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>

							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
									<i class="ion-android-favorite-outline"></i>
									<span class="count"> {{wishlist_count}} </span>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->
							{% if 'cart' not in request.path %}
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									
									<span class="count" id="cart-list"> {{cart_count}} </span>
								</a>
							</div>
							{% endif %}
							<!--=======  End of single-icon  =======-->
						</div>
						<!--=======  End of header right icons  =======-->

					</div>

					<!--=======  End of headeer right container  =======-->


				</div>

				<!--=======  End of header bottom container  =======-->

				<!-- Mobile Navigation Start Here -->

				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li class=""><a href="{% url 'home' %}">Home</a></li>

							<li><a href="#">Shop</a></li>
							<li><a href="{% url 'aboutme' %}">About !</a></li>
						</ul>
					</div>
				</div>

				<!-- Mobile Navigation End Here -->

			</div>
		</div>
		{%if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong> {{message}} </strong>
            </div>
        {% endfor %}
    {% endif %}


    <script>
        setTimeout(()=>{
            $(".alert").alert("close")
        }, 4000)
    </script>

		<!--=======  End of header bottom  =======-->
	</header>

	<!--===== End of Header without topbar ======-->
